.container-about {
  display: flex;
  width: 100%;

  .wrapper-right-content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .container-about {
    flex-direction: column;
  }
}