.white {
  color: white;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.w-full {
  width: 100%;
}

.capitalize {
  text-transform: capitalize;
}
