.container-header {
  background-image: linear-gradient(#1AA7EC, #4ADEDE);
  padding: 1rem;

  .wrapper-nav {
    justify-content: end;
  }

  .title-header {
    justify-content: start;
  }

  @media only screen and (max-width: 420px) {
    .wrapper-nav {
      justify-content: center;
    }

    .title-header {
      justify-content: center;
    }
  }

  .nav-link::after {
    content: "|";
    margin-left: 8px;
  }

  .nav-link:nth-last-child(1)::after {
    content: "";
    margin-left: 0;
  }
}